
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px;
    color: white;
}

.slick-dots {
    color: #0d6efd;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.slick-dots li button:before {
    font-size: 12px;
    color: white;
    opacity: 0.75;
}

.slick-dots li.slick-active button:before {
    color: red;
    opacity: 1;
}
